<input id="serachId"><span class="applyButton" onclick={{action "apply"}}>Apply</span>
{{#each this.storage.apiData.Topics as |data|}}
    <div class="recomendOption" onclick={{action "selectOption" data}}>{{data}}</div>
{{/each}}
<QuizComp questionData={{this.data}}/>
{{!-- <ShowData/> --}}
{{yield}}