{{#if this.showTopics}}
<input id="serachId" onkeyup={{action "storeText"}}>
<button class="applyButton" onclick={{action "apply"}} disabled={{this.disable}}>
    {{#if this.getTopics.isIdle}}
        Ask
    {{else}}
        Thinking.....
        <span class="loading-dot-circle"></span>
    {{/if}}
</button>
{{#if this.selected.isIdle}}
    {{#each this.data.Topics as |data|}}
        <div class="recomendOption" onclick={{action "selectOption" data}}>
                {{data}}
        </div>
    {{/each}}
{{else}}
<div class="loading-dot-circle"></div>
{{/if}}
{{/if}}
{{#if this.gameData}}
    <QuizComp @questionData={{this.gameData}}/>
{{/if}}
{{yield}}