<div class="question">
<div class="questionDesc">{{this.args.model.Question}}</div>
<div class="optionsList">
    {{#each this.args.model.Options as |option index|}}
        <div class={{concat "option " (if (this.isSelected this.selectedAnswer option) " selected" " no")}} onclick={{action this.selectOption option}}>{{option}}</div>
    {{/each}}
</div>
<div class="buttomFrame">
<button class="next button" onclick={{action this.onMoveNext }}>{{if this.args.isLast "Submit" "Next" }}</button>
</div>
</div>
{{yield}}